<div class="content">
  <h2>Overview</h2>
 <div class="overview-cards">
    <div class="card overview-card" *ngIf="user?.role !== 'user'">
      <h3>Overview</h3>
      <p *ngIf="user?.role === 'admin'">Active Products: {{ productsNumber }}</p>
      <p *ngIf="user?.role !== 'admin'" >Total Customers: {{ TotalCustomer }}</p>
    </div>
    <div class="card orders-card">
      <h3>Orders</h3>
      <p *ngIf="user?.role === 'company'">Orders: {{ ordersCompanyNumber }}</p>
      <p *ngIf="user?.role === 'user'">Orders: {{ ordernumber }}</p>
      <p *ngIf="user?.role === 'admin'">Orders: {{  ordersnumberadmin}}</p>
      <p>Total price of the orders: {{ Total }} TND</p>

    </div>
    <div *ngIf="user?.role === 'company'" class="card products-card">
      <h3>Products</h3>
      <p>Active Products: {{ productsNumber }}</p>
    </div>
    <div class="card overview-card" *ngIf="user?.role == 'admin'&& mostSeller !==undefined"  >
      <h3>Most seller</h3>
      <div *ngFor="let product of mostSeller" >
     <p>Product name : {{ product.product_name}}</p>
      <p> Number order: {{ product.total_order}}</p>
    </div>
  </div>
  </div>
</div>
