
<div *ngIf="product" class="details"  >
    <img    [src]="product.photo" alt="photo" />
    <h2>{{ product.product_name }}</h2>
    <h3>{{ product.user_name }}</h3>
    <h5>Added in : {{ product.add_at }}</h5>
    <h2>{{ product.price }} TND</h2>
    <p>{{product.description}}</p>
    <div class="btns" >
<button routerLink="/" >Cancel </button>
<button  *ngIf='role=="user"' [routerLink]="['/order',product.id]" >Send order</button>
<button  *ngIf='role==""' class="btn_guest" >Send order</button>
</div>
</div>