* {
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    width: 100%;
    position: relative;
}

.logo {
    font-size: 1.5em;
}

.menu-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

.nav-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li  {
    color: white;
  cursor: pointer;
}

.user-area {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn {
    padding: 10px 15px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #e7e7e7;
}

.login-btn {
    background-color:white
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    
    .nav-container {
        display: none; 
        flex-direction: column; 
        position: absolute;
        top: 60px; 
       width: 50%;
        right: 0;
        background-color: #007bff;
        padding: 15px;
        z-index: 100;
        border-radius: 0px 0px 0px 15px
    }

    .nav-container.active {
        display: flex; 
    }
  .btn{
    margin-left: 47%;
  }
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin: 10px 0; 
        text-align: center; 
    }

    .user-area {
        display: flex;
        flex-direction: column;
        margin-top: 10px; 
    }
}

@media (max-width: 380px) {
    .nav-container{
        width:90%
    }
}