<div class="dashboard">
  <app-sidebar
    [user]="user"
    (toggledashboard)="toggledashboard($event)"
  ></app-sidebar>

  <div class="main-content">
    <div class="top-nav">
      <div class="top-nav-right">
        <button class="btn" routerLink="/">Home</button>
        <span class="user">{{ user.user_name }}</span>
        <span class="user">{{ user.email }}</span>
        <i *ngIf="!user.photo" class="fas fa-user-alt"></i>
        <div>
          <img
            *ngIf="user.photo"
            [src]="user.photo"
            alt="user"
            class="profile-pic user"
          />
          <i class="fas fa-edit" (click)="toggleEdit()"> </i>
        </div>
        <input *ngIf="editphoto" type="file" (change)="onFileChange($event)" />
        <button class="btn" *ngIf="editphoto" (click)="Edit()">save</button>
      </div>
    </div>

    <app-overview
      [user]="user"
      [TotalCustomer]="TotalCustomer"
      [Total]="Total"
      [mostSeller]="mostSeller"
      [ordersCompanyNumber]=" ordersCompany !== undefined ? ordersCompany.length : 0 "
      [ordernumber]="orders !== undefined ? orders.length : 0"
      [ordersnumberadmin]="orderNumber"
      *ngIf="toggle === 'Overview'"
      [productsNumber]="productsNumber" />
    <app-list-products
      *ngIf="toggle === 'Products'"
      [user_id]="user.id"
      [pathname]="path" />
    <app-order-user *ngIf="toggle === 'Orders-user'" [orders]="orders" />
    <app-orders-company *ngIf="toggle === 'Orders'" [orders]="ordersCompany" />
    <app-address-customer
      *ngIf="toggle === 'Customer'"
      [addressCustomer]="ordersCompany"
    />
    <app-settings [user]="user" *ngIf="toggle === 'Settings'" />
    <app-user-list-admin *ngIf="toggle === 'userlist'" />
    <app-company-list-admin *ngIf="toggle === 'companylist'" />
    <app-add-product
      *ngIf="add === true"
      [user_id]="user.id"
      [add]="add"
      (return)="return($event)" />
    <button
      *ngIf="toggle === 'Products'"
      (click)="add = true"
      class="btn btn_add" >
      Add product
    </button>
  </div>
</div>
