<form class="form"   [formGroup]="registerForm" (ngSubmit)="submitForm()">
  <h2 class="title">REGISTER</h2>
  <div  class="div-form" >
    <label for="email">Email:</label>
    <input  formControlName="email" type="email" required />
  </div>
  <div class="div-form" >
   <select  formControlName="role"  >
    <option value="" hidden  >Select role</option>
     <option value="user"   >customer</option>
     <option value="company" >company</option>
   </select>
</div>

  <div class="div-form"   >
    <label for="username">Username:</label>
    <input  formControlName="username" required />
</div>
  
<div class="div-form"   >
  <label for="photo">upload photo:</label>
  <input  class="upload-file"  type="file"  (change)="onFileChange($event)" />
</div>
  <div   class="div-form" >
    <label for="password">Password:</label>
    <input  [type]="showPassword ? 'text': 'password'" formControlName="password"  autocomplete="on" required />
    <span class="toggle-password" (click)="togglePassword()">
    <i class="fa" [class]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
  </span>
  </div>
  <p *ngIf="error;" class="err"   >{{error}}</p>
  <button type="submit" class="btn" [disabled]="!registerForm.valid">Register</button>
   <a class="btn_return" routerLink="/" >return </a>
</form>

